.box{
    /* Türkçe açıklamalarını yaz. */
    width: 40%; /* Genişliği ekranın %40'ı kadar olacak */
    height: 200px; /* Yüksekliği 200px olacak */
    background-color: red; /* Arkaplan rengi kırmızı olacak */
    margin: 10px; /* Kenar boşluğu 10px olacak */
    float: left; /* Sağa yaslanacak */
    border: 1px solid black; /* Kenarları 1px kalınlığında siyah çerçeve olacak */
    text-align: center; /* İçerideki yazıları ortalar */
    border-radius:  10px; /* Kenarları yuvarlak yap */
    shape-margin: 0% 50% 0% 50%; /* Şekil kenar boşluğu */
    
}